.style-one {
    font-size: 10x;
    color: black;
}

.style-two {
    font-size: 15px;
    color: black;
    margin-left: 10px;
}

.style-three {
    font-size: 20px;
    color: black;
    "margin-left: 10px"
}

    section p, section h2 {
        line-height: 1.5; /* 줄 간격 설정 */
        font-size: 20px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #fafafa;
        color: #333;
        margin: 0;
        padding: 20px;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        height: 100vh; /* 화면 전체 높이 */
    }
    .top{
        flex:1;
        padding: 20px
        text-align:center;

    }
    .middle{
        display: flex;
        flex:2;
    }
    .left {
        flex: 2.5;
        padding: 20px;
        }
    .divider {
        width: 1px;
        background-color: #ccc; /* 구분선 색상 */
        height: 100%;
        }
    .right {
        flex: 1;
        padding: 20px;
        }
    .bottom {
    flex: 1; /* 아래쪽 영역 높이 */
    background-color: #cfcfcf;
    padding: 20px;
    text-align: center;
}


    ul {
        padding: 40px;
        list-style-type: square; /* 불릿 모양을 사각형으로 변경 */
        font-size:x-large;
        }
    ol {
        list-style-type: decimal; /* 기본 숫자 (1, 2, 3, ...) 스타일 */
    }
    li {
        padding: 8px 0;
        }

    header {
        text-align: center;
        padding: 10px;
        background-color: #b3b4b4;
        color: white; 
        
    }
    section {
        margin: 100px 0;
        font-size: 19px;
        
    }
    
    footer {
        text-align: center;
        margin-top: 40px;
    }
    a {
        color: #0073e6;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <img src="{{ site.baseurl }}/images/logo.png" alt="Logo">
    



   /* images */
    .responsive-image {
        width: 60%; /* 원하는 너비 */
        height: 100px /* 비율 유지 */
    }
    .image-container {
        width: 6px; /* 부모 요소 너비 */
        height: 20px /* 부모 요소 높이 */
    }